<footer>
  <div class="container-fluid redes">
    <a href="#" class="btn btn-redes bg-circle" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/libertascomvc/" class="btn btn-redes bg-circle" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/libertasconsultoria/" class="btn btn-redes" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="container-fluid footer-infos">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 my-auto">
          <a href="index.php"><img src="assets/img/header/libertas-logo.jpg" class="img-fluid"></a>
        </div>
        <div class="col-12 col-md-7 my-auto">
          <div class="item mb-3">
            <span class="bg-circle-lar"><i class="fas fa-phone-alt"></i></span>
            <span class="info">
              (51) 98962 2964
            </span>
          </div>
          <div class="item">
            <span class="bg-circle-lar"><i class="far fa-envelope"></i></span>
            <span class="info">
              contato@libertasconsultoria.com
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center rodape">
    <span>Libertas Rotinas Administrativas e Financeiras LTDA. Todos os direitos reservados.</span>
  </div>
</footer>
<div class="container-fluid footer-fox">
  <a href="https://www.foxthree.com.br" target="_blank">
    <img src="assets/img/logofox3black.png" alt="Logo Fox3" style="max-width: 60px">
  </a>
</div>


<div class="modal fade" id="nfs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Emissão de Notas Fiscais e Boletos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Emitimos todas as notas fiscais, faturas e boletos da sua empresa para você. Preocupe-se somente em fechar negócios. O resto é com a gente</p>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<div class="modal fade" id="rcc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Relacionamento com a Contabilidade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Fazemos todo o fechamento fiscal e contábil e de forma organizada, enviamos todas as informações necessárias para o seu contador realizar a contabilidade e gerar os impostos.</p>
        <p>Ah! E além de enviarmos ao seu contador, também arquivamos em pastas compartilhadas. Assim tudo fica super acessível a poucos cliques de distância.</p>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<div class="modal fade" id="cb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Conciliação Bancária</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Conciliamos toda a movimentação das suas contas bancárias e faturas de cartões de crédito.</p>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<div class="modal fade" id="cpr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contas a pagar e a receber</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Não se preocupe mais em acessar seu banco para pagar contas ou conferir se recebeu os pagamentos de seus clientes. Nós cuidamos de tudo e organizamos todos os seus pagamentos para que nenhum prazo seja perdido, evitando juros e multas.</p>
        <p>Fazemos o controle de todos os seus recebimentos, seja por depósito, PIX, boleto, cartão de crédito ou débito, cheque, dinheiro.</p>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<div class="modal fade" id="dre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fluxo de Caixa e Demonstração dos Resultados do Exercício (DRE)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Personalizamos nossas super planilhas de Fluxo de Caixa e DRE, tornando-as fáceis de serem compreendidas. Preencheremos as planilhas diariamente, assim os dados sempre estarão atualizados.</p>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>

<div class="modal fade" id="apc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Análise e Previsão de Contas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Olhamos suas contas passadas e analisamos quais serão suas despesas e receitas para você estar ciente da saúde financeira da sua empresa.</p>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>


<script src="https://kit.fontawesome.com/d55f1e4280.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ assets }}node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ assets }}js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="{{ assets }}js/bootstrap-select.min.js"></script>
<script src="{{ assets }}js/jquery.visible.js"></script>
<script src="{{ assets }}js/jquery.mask.min.js"></script>
<script src="{{ assets }}js/fox.scrollList.js"></script>
<script src="{{ assets }}js/app.js"></script>
<script src="{{ assets }}js/api/grupfy.js"></script>
<script src="{{ assets }}js/paginga.jquery.js"></script>


<script>

  function animations() {
    $('.animate__onVisible').each(function (index, element) {
      let c = $(element).attr('data-anim');
      if ($(element).visible(true) === true) {
        if (!$(element).hasClass('animate__animated')) {
          console.log(c);
          $(element).addClass('animate__animated');
          $(element).addClass(c).css('opacity', '1');
          console.log($(element));
        }
      } else {
        $(element).removeClass(c).removeClass('animate__animated').css('opacity', '0');
      }
    });


    // $('.produtos_bg').fadeIn(200);
    // $(".produtos_bg").css({visibility:"visible", opacity: 0.0}).animate({opacity: 1.0},200);
    // var produtos = $( ".produtos_bg" );
    // $(produtos).each(function (index, element) {
    //   if ($(element).visible(true) && $(element).css('opacity') == '0') {
    //     console.log($(element));
    //     $(element).animate({
    //       opacity: 1,
    //       // left: "+=50",
    //       // height: "200"
    //     }, 500, function() {
    //       // Animation complete.
    //     });
    //   }
    // });

    // var garantia = $( ".garantia_qualidade" );
    // $(garantia).each(function (index, element) {
    //   if ($(element).visible(true) && $(element).css('opacity') == '0') {
    //     console.log($(element));
    //     $(element).animate({
    //       opacity: 1,
    //       // left: "+=50",
    //       // height: "200"
    //     }, 2000, function() {
    //       // Animation complete.
    //     });
    //   }
    // });


    // var embalagens = $( ".peca_embalagens" );
    // $(embalagens).each(function (index, element) {
    //   if ($(element).visible(true) && $(element).css('opacity') == '0') {
    //     console.log($(element));
    //     $(element).animate({
    //       opacity: 1,
    //       // left: "+=50",
    //       // height: "200"
    //     }, 1000, function() {
    //       // Animation complete.
    //     });
    //   }
    // });
  }

  $(".btn-goto-video").click(function() {
    $('html, body').animate({
        scrollTop: $("#video").offset().top
    }, 2000);
  });
  
  function onSubmit1(token) {
  //  document.getElementById("form1").submit();
  var f1 = $('#form1');
  var b1 = $('#submitForm1');
  
  f1.ajaxForm({
    beforeSend : function() {
      b1.attr('disabled', 'disabled');
    },
    success : function(e) {
      var res = JSON.parse(e);
      if (res.erro == false) {
        Swal.fire({
          icon: 'success',
          title: 'Contato enviado',
          text: res.msg
        });
        b1.removeAttr('disabled');
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Erro ao enviar contato',
          text: res.msg
        });
        b1.removeAttr('disabled');
      }
    },
    error : function(e) {
      Swal.fire({
        icon: 'error',
        title: 'Erro ao enviar contato',
        text: e
      });
      b1.removeAttr('disabled');
    }
  });
  f1.submit();
  }

  function onSubmit2(token) {
  //  document.getElementById("form2").submit();
  var f2 = $('#form2');
  var b2 = $('#submitForm2');
  
  f2.ajaxForm({
    beforeSend : function() {
      b2.attr('disabled', 'disabled');
    },
    success : function(e) {
      var res = JSON.parse(e);
      if (res.erro == false) {
        Swal.fire({
          icon: 'success',
          title: 'Contato enviado',
          text: res.msg
        });
        b2.removeAttr('disabled');
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Erro ao enviar contato',
          text: res.msg
        });
        b2.removeAttr('disabled');
      }
    },
    error : function(e) {
      Swal.fire({
        icon: 'error',
        title: 'Erro ao enviar contato',
        text: e
      });
      b2.removeAttr('disabled');
    }
  });
  f2.submit();
  }

  $(document).ready(function () {
    var SPMaskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009';
    },
    spOptions = {
      onKeyPress: function(val, e, field, options) {
        field.mask(SPMaskBehavior.apply({}, arguments), options);
      }
    };

    $(".btn-abaixa").click(function() {
      $([document.documentElement, document.body]).animate({
          scrollTop: $("#suplementos").offset().top - 180
      }, 2000);
    });

    $('[name="inputTelefone"]').mask(SPMaskBehavior, spOptions);
 
    animations();
  });
  
  $(document).scroll(function () { 
    animations();
  });
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

<a target="_blank" href="https://api.whatsapp.com/send?phone=5551989622964&text=Ol%C3%A1!%20Gostaria%20de%20informa%C3%A7%C3%B5es." class="whats-flutuante" data-toggle="tooltip" title="Fale conosco!">
  <!--<span class="mr-3">Fale conosco!</span>-->
  <i class="fab fa-whatsapp"></i>
</a>

<a href="javascript:;" class="btn btn-subir-topo" data-toggle="tooltip" title="Subir ao topo">
  <i class="fas fa-chevron-up"></i>
</a>

<script>
  
  $(".nav-link").on('click', function(){
    var href = $(this).data('href');
    var offset = $(`#${href}`).offset().top - 124;

    
    console.log(href);
    console.log(offset);
    $('html, body').animate({
      scrollTop: offset
    }, '1600');
  });

  $(".navbar-brand").on('click', function(){

    $('html, body').animate({
      scrollTop: 0
    }, '1600');
  });

  $('.btn-subir-topo').on('click', function(){
    $('html, body').animate({
      scrollTop: 0
    }, 1500);
  })

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  $(window).on('scroll', function() {
  if ($(this).scrollTop() > 400) {
    $('.btn-subir-topo').css("visibility", "visible");
    $('.whats-flutuante').css("bottom", "60px")
  } else{
    $('.btn-subir-topo').css("visibility", "hidden");
    $('.whats-flutuante').css("bottom", "10px")
  }
});

</script>

<script>
  $(document).ready(function () {
    var app = Libertas;


    var appcomentarios = $('.comentarios');
    app.infinite_row(appcomentarios); 

    // var appimagens_inf = $('.imagens_inf');
    // app.infinite_row(appimagens_inf); 
  });
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"  async defer>
</script>




<script src="//receiver.posclick.dinamize.com/forms/js/322455_2971.js"></script>