{{ header }}

{% if breadcrumbs is defined %}
  <ol class="breadcrumb">
  {% for item in breadcrumbs %}
      <li class="breadcrumb-item {{ item.active == true ? 'active' : '' }}"><a class="{{ item.active == true ? '' : 'text-black-50' }}" href="{{ item.url }}">{{ item.name }}</a></li>
    {% endfor %}
  </ol>
{% endif %} 

<form id="formEditPagina" method="post" role="form" enctype="multipart/form-data">
  <input type="hidden" name="idproduto" value="{{ produto.idproduto }}">
  <textarea name="obj" class="d-none"></textarea>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      Editar produto
      <div>
        <a href="{{ url_arquivos_produto }}&id={{ produto.idproduto }}" class="btn btn-primary"><i class="fas fa-paperclip mr-2"></i> Arquivos</a>
        <button type="submit" id="enviarProduto" class="btn btn-labeled btn-success">
          <span class="btn-label"><i class="fas fa-check mr-2"></i></span>
          Salvar produto
        </button>    
      </div>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="inputCapa">Nome do produto *</label>
        <input type="text" id="inputTitulo" placeholder="Ex: Quem somos" class="form-control" name="inputNome" value="{{ produto.nome }}" required>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="inputCapa">Departamento</label>
            <select class="form-control" name="inputIddepartamento">
              {% if departamentos is defined %}
                {% for departamento in departamentos %}
                  <option value="{{ departamento.iddepartamento }}" {{ produto.iddepartamento == departamento.iddepartamento ? 'selected' : '' }}>{{ departamento.nome }}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Marca</label>
              <input type="text" name="marca" class="form-control" value="{{ produto.marca }}">
            </div>
          </div>
        </div>
      </div>

      
      <div id="resultado" class="mt-3"></div>
    </div>
  </div>

</form>


<h4>Blocos do produto</h4>
<div class="list-blocos">
  {% if produto.blocos is defined %}
    {% for bloco in produto.blocos %}
      <div class="bloco card" data-id="{{ bloco.idbloco_produto }}">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="m-0">{{ bloco.chave }}</h5>
          <div>
            <a href="javascript:;" data-toggle="tooltip" title="Arquivos do bloco" class="btn-arquivos-block btn btn-sm btn-outline-primary"><i class="fas fa-paperclip"></i></a>
            <a href="javascript:;" data-toggle="tooltip" title="Editar bloco" class="btn-edit-block btn btn-sm btn-info"><i class="fas fa-pen"></i></a>
            {% if user_info.admin == true %}
              <a href="javascript:;" data-toggle="tooltip" title="Excluir bloco" class="btn-delete-block btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <div class="conteudo">
            {{ bloco.conteudo }}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  
  <div class="bloco add">
    <a href="javascript:;" class="py-3 btn btn-block btn-outline-success" data-toggle="modal" data-target="#modalNovoBloco"><i class="fas fa-plus mr-2"></i> Adicionar bloco</a>
  </div>
</div>

<!-- Modal Novo bloco -->
<div class="modal fade" id="modalNovoBloco" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar bloco</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="chave">Chave</label>
            <input type="text" class="form-control" name="chave" required>
          </div>
          <div class="form-group">
            <label>Conteúdo</label>
            <div id="summernote_bloco_novo"></div>
            <textarea class="d-none" name="conteudo"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Edit bloco -->
<div class="modal fade" id="modalEditBloco" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar bloco</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="chave">Chave</label>
            <input type="text" class="form-control" name="chave" required>
          </div>
          <div class="form-group">
            <label>Conteúdo</label>
            <div id="summernote_bloco_edit"></div>
            <textarea class="d-none" name="conteudo"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Arquivos Bloco -->
<div class="modal fade" id="modalArquivosBloco" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Arquivos do bloco</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Anexar imagens (<b>{{ produto.nome }}</b>)</h5>
        <form id="formArquivo" action="{{ url_upload_arquivo }}" name="formCadastro" method="post" role="form" enctype="multipart/form-data">
          <input type="hidden" name="idproduto" value="{{ produto.idproduto }}">
          <input type="hidden" name="idbloco" value="">
          <input type="hidden" name="idarquivo" value="">
          <input type="hidden" name="modal" value="true">
          <div class="form-group">
            <label for="inputNome">Nome do arquivo</label>
            <input type="text" id="inputNome" class="form-control form-control-sm" name="inputNome" required>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <div id="summernote_arquivo"></div>
            <textarea class="d-none" name="descricao"></textarea>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputData">Data publicacão</label>
                <input type="date" class="form-control form-control-sm" autocomplete="off" name="inputData" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="inputUrl">URL</label>
                <input type="text" class="form-control form-control-sm" name="inputUrl" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputImagem">Arquivo</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-sm" id="str-arquivo" placeholder="Procurar arquivo" readonly>
              <div class="input-group-append">
                <a class="btn btn-info text-white btn-sm" id="btn-arquivo" type="button">Procurar</a>
              </div>
            </div>
            <input type="file" id="inputImagem" name="inputImagem" class="d-none">
            <p class="help-block">Selecione o arquivo (.jpg, .jpeg, .png, .gif).</p>
          </div>
          <button type="submit" id="enviarArquivo" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fas fa-check"></i></span>
            Enviar arquivo
          </button>
        </form>

        <hr class="my-4">

        <h5>Gerenciar imagens</h5>
        <div id="tabela-arquivos">

        </div>
    
      </div>
      <div class="modal-footer">
        <a href="javascript:;" data-dismiss="modal" class="btn btn-secondary">Fechar</a>
      </div>
    </div>
  </div>
</div>

{{ footer }}

<script>

  function events() {
    $('#modalArquivosBloco').find('[name="idarquivo"]').val('');
    $('#modalArquivosBloco').find('button[type="submit"]').html('<i class="fas fa-check"></i> Enviar arquivo');
    
    $('[data-toggle="tooltip"]').tooltip(); 

    $('.btn-delete-block').unbind('click');
    $('.btn-delete-block').click(function () {
      $(this).parent().parent().parent().remove();
      events();
    });

    $('.btn-edit-block').unbind('click');
    $('.btn-edit-block').click(function () {
      var container = $(this).parent().parent().parent();
      var name = $(container).find('.card-header > h5').text();
      var conteudo = $(container).find('.card-body > .conteudo').html().trim();

      var modal = $('#modalEditBloco');
      modal.find('[name="chave"]').val(name);
      modal.find('[name="conteudo"]').html(conteudo);
      modal.find('#summernote_bloco_edit').summernote('code', conteudo);
      modal.modal('show');

      modal.find('form').unbind('submit');
      modal.find('form').submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
  
        let obj = $(this).serializeArray();
        $(container).find('.card-header > h5').text(obj[0].value);
        $(container).find('.card-body > .conteudo').html(obj[1].value.trim());
        modal.modal('hide');
        events();
      });
      
    });

    $('[name="chave"]').val('');
    $('[name="conteudo"]').html('');
    $('#summernote_bloco_novo').summernote('code', '');
    $('#summernote_bloco_edit').summernote('code', '');

    var items = $('.list-blocos .bloco:not(.add)');
    var items_obj = [];
    $(items).each(function () {
      let item = new Object();
      item.name = $(this).find('.card-header > h5').text();
      item.conteudo = $(this).find('.card-body > .conteudo').html().trim();
      if ($(this)[0].hasAttribute("data-id")) {
        item.idbloco_produto = $(this).attr('data-id');
      }
      items_obj.push(item);
    });
    
    $('#formEditPagina [name="obj"]').html(JSON.stringify(items_obj));

    $('.editArquivoBloco').unbind('click');
    $('.editArquivoBloco').click(function () {
      let idarquivo = $(this).attr('data-id');
      let idbloco = $(this).attr('data-idbloco');
      var modal = $('#modalArquivosBloco');
      
      let nome = $(this).attr('data-nome');
      let descricao = $(this).parent().prev().find('.desc').html();
      let url = $(this).parent().prev().find('a').attr('href');
      let data = $(this).parent().prev().find('.data').attr('data-date');

      modal.find('[name="inputNome"]').val(nome);
      modal.find('[name="descricao"]').html(descricao);
      modal.find('#summernote_arquivo').summernote('code', descricao);
      modal.find('[name="inputData"]').val(data);
      modal.find('[name="inputUrl"]').val(url);
      modal.find('[name="idarquivo"]').val(idarquivo);
      modal.find('button[type="submit"]').html('<i class="fas fa-check"></i> Salvar alterações');

      $("#modalArquivosBloco").animate({ scrollTop: 0 }, "slow");

    });

    $('.removeArquivoBloco').unbind('click');
    $('.removeArquivoBloco').click(function () {
      let idarquivo = $(this).attr('data-id');
      let idbloco = $(this).attr('data-idbloco');
      Swal.fire({ 
        title: 'Excluir arquivo', 
        icon: 'question', 
        text: 'Você realmente deseja excluir este arquivo?', 
        showCancelButton: true, 
        confirmButtonText: `Sim`, 
        cancelButtonText: `Cancelar`, 
      }).then((result) => { 
        if (result.isConfirmed) { 
          $.post('{{ url_remover_arquivo }}', {
            id: idarquivo,
            modal: 'true'
          }, function (res) {
            if (res.error == false) {
              beto.notify('success', 'Excluir arquivo', 'Arquivo excluído com sucesso');
              update_arquivos(idbloco);
            } else {
              Swal.fire('Erro ao excluir arquivo', res.msg, 'error');
            }
          })
        } 
      }); 
      
    });
  }

  var order_arquivos = null;
  function update_arquivos(idbloco) {
    let idproduto = parseInt('{{ produto.idproduto }}');
    $.get('{{ url_arquivos_bloco }}', {
      id: idbloco,
      idproduto
    }, function (res) {
      if (res.error == false) {
        let arquivos = res.msg;
        var container = $('#tabela-arquivos');
        container.html('');
        if (arquivos.length > 0) {
          for (let file of arquivos) {
            let html = `
              <div class="row hover mb-2" data-id="${file.idarquivo}">
                <div class="col-md-1 my-auto text-center">
                  <a href="javascript:void(0)" class="moveArquivoBloco btn btn-secondary" data-idbloco="${idbloco}" data-id="${file.idarquivo}"><i class="fas fa-arrows-alt-v"></i></a>
                </div>
                <div class="col-md-2 my-auto text-center">
                  <div class="img-pagina mx-auto" data-fancybox="arquivos" href="${file.arquivo}" style="cursor: pointer; background-image: url('${file.arquivo}');"></div>
                </div>
                <div class="col my-auto">
                  <h3>${file.nome}</h3>
                  <div class="desc">${file.descricao}</div>
                  <p class="mb-0"><span class="small text-muted">Link da imagem: <a href="${file.url}" target="_blank">${file.url}</a></span></p>
                  <span class="small text-muted data" data-date="${file.original_data}">${file.data}</span>
                </div>
                <div class="col-md-2 my-auto text-center">
                  <a href="javascript:void(0)" class="editArquivoBloco btn btn-info" data-nome="${file.nome}" data-idbloco="${idbloco}" data-id="${file.idarquivo}"><i class="fas fa-pen"></i></a>
                  <a href="javascript:void(0)" class="removeArquivoBloco btn btn-danger" data-idbloco="${idbloco}" data-id="${file.idarquivo}"><i class="fas fa-trash"></i></a>
                </div>
              </div>
            `;
            container.append(html);
          }

          if (order_arquivos == null) {
            order_arquivos = dragula([document.getElementById('tabela-arquivos')], {
              direction: 'vertical'
            });
          } else {
            order_arquivos.destroy();
            order_arquivos = dragula([document.getElementById('tabela-arquivos')], {
              direction: 'vertical'
            });
          }
        
          order_arquivos.on('drop', function (el, target, source, sibling) {
            var container = target;
            var items = $(container).find('.hover');
            var count = [];
            $(items).each(function () {
              count.push($(this).attr('data-id'));
            });
            
            $.post('{{ url_order }}', {
              str: count.join(',')
            }, function (res) {
              if (res.error == false) {
                beto.notify('success', 'Alterar ordem', 'Ordem dos arquivos alteradas com sucesso');
              } else {
                Swal.fire('Erro ao alterar ordem', res.msg, 'error');
              }
            });
          });
        } else {
          let html = `
          <div class="alert alert-warning alert-outline-coloured alert-dismissible" role="alert">
            <div class="alert-icon">
              <i class="fas fa-fw fa-times"></i>
            </div>
            <div class="alert-message">
              Nenhum arquivo neste bloco!
            </div>
          </div>
          `;
          container.append(html);
        }
        events();
      }
    })
  }
  
  $(document).ready(function () {

    $('#modalArquivosBloco').on('hide.bs.modal', function () {
      $('#modalArquivosBloco').find('[name="idarquivo"]').val('');
      $('#modalArquivosBloco').find('button[type="submit"]').html('<i class="fas fa-check"></i> Enviar arquivo');
      $('#modalArquivosBloco').find('input:not([name="idpagina"]):not([name="modal"]):not([name="idproduto"])').val('');
      $('#modalArquivosBloco').find('[name="descricao"]').html('');
      $('#modalArquivosBloco').find('#summernote_arquivo').summernote('code', '');
    });

    $('.btn-arquivos-block').click(function () {
      var modal = $('#modalArquivosBloco');
      let idbloco = $(this).parent().parent().parent().attr('data-id');
      modal.find('[name="idbloco"]').val(idbloco);
      update_arquivos(idbloco);
      modal.modal('show');
    });

    $("#str-arquivo, #btn-arquivo").click(function() {
      $("#inputImagem").click();
    });
  
    $('#inputImagem').change(function() {
      $('#str-arquivo').val($(this).prop('files')[0].name);
    })

    var f = $('#formArquivo');
    var b = $('#enviarArquivo');

    b.click(function() {
      f.ajaxForm({
        beforeSend: function() {
          b.attr('disabled', 'disabled');
        },
        success: function(e) {
          b.removeAttr('disabled');
          if (e.error == false) {
            update_arquivos(e.msg);
          } else {
            Swal.fire('Erro ao enviar arquivos', e.msg, 'error');
          }
        },
        error: function(e) {
          b.removeAttr('disabled');
          Swal.fire('Erro ao enviar arquivos', e, 'error');
        }
      });
    });

    $('#inputLinkExterno').click(function () {
      if ($(this).prop('checked')) {
        $('#inputUrl').removeAttr('disabled').attr('required', true);
      } else {
        $('#inputUrl').attr('disabled', true).removeAttr('required').val('');
      }
    });

    $('#modalArquivosBloco #summernote_arquivo').summernote({
      tabsize: 2,
      height: 100,
      callbacks: {
        onKeyup: function(e) {
          let c = $(this).summernote('code').toString();
          $('#modalArquivosBloco [name="descricao"]').html(c.trim());
        },
        onChangeCodeview: function(e) {
          let c = $(this).summernote('code').toString();
          $('#modalArquivosBloco [name="descricao"]').html(c.trim());
        }
      }
    });

    $('#modalNovoBloco #summernote_bloco_novo').summernote({
      tabsize: 2,
      height: 200,
      callbacks: {
        onKeyup: function(e) {
          let c = $(this).summernote('code').toString();
          $('#modalNovoBloco [name="conteudo"]').html(c.trim());
        },
        onChangeCodeview: function(e) {
          let c = $(this).summernote('code').toString();
          $('#modalNovoBloco [name="conteudo"]').html(c.trim());
        }
      }
    });

    $('#modalEditBloco #summernote_bloco_edit').summernote({
      tabsize: 2,
      height: 200,
      callbacks: {
        onKeyup: function(e) {
          let c = $(this).summernote('code').toString();
          $('#modalEditBloco [name="conteudo"]').html(c.trim());
        },
        onChangeCodeview: function(e) {
          let c = $(this).summernote('code').toString();
          $('#modalEditBloco [name="conteudo"]').html(c.trim());
        }
      }
    });

    $('#modalNovoBloco form').submit(function (e) {
      e.preventDefault();
      e.stopPropagation();

      let obj = $("#modalNovoBloco form").serializeArray();

      let html = `
        <div class="bloco card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="m-0">${obj[0].value}</h5>
            <div>
              <div class="badge badge-dark">Pendente</div>
              <a href="javascript:;" data-toggle="tooltip" title="Editar bloco" class="btn-edit-block btn btn-sm btn-info"><i class="fas fa-pen"></i></a>
              <a href="javascript:;" data-toggle="tooltip" title="Excluir bloco" class="btn-delete-block btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          <div class="card-body">
            <div class="conteudo">
              ${obj[1].value}
            </div>
          </div>
        </div>
      `;
      item = $(html).insertBefore('.list-blocos .bloco.add');
      $('#modalNovoBloco').modal('hide');

      events();

    });

    events(); 
  })

</script>